
@model EmployeeApplication.Application.Employees.Queries.GetAllEmployees.EmployeeListVm;
@{
    var entity = Model.Lookups.FirstOrDefault(x => x.Id == Model.UpdateEmployee.Id);
    var t = Model.UpdateEmployee.Id;
    var tt = "";
}
<form method="POST" asp-controller="Employee" asp-action="Update" enctype="multipart/form-data">
    <h2>Add new employee</h2>
    <div class="formItems">
        <div class="Inlines">
            <div class="leftSide">
                <div class="Item">
                    
                    <input type="hidden" asp-for=" @Model.UpdateEmployee.Id" value="@entity.Id"></input>
                </div>
                <div class="Item">
                    <label>Name</label>
                    <input asp-for="@Model.UpdateEmployee.Name" type="text" value="@entity.Name"></input>
                </div>
                <div class="Item">
                    <label>Surname</label>
                    <input asp-for="@Model.UpdateEmployee.Surname" value="@entity.Surname"></input>
                </div>
                <div class="Item">
                    <label>Age</label>
                    <input asp-for="@Model.UpdateEmployee.Age" value="@entity.Age"></input>
                </div>
            </div>
            
            <div class="rightSide">
                <div class="Item">
                    <label>Department</label>
                    <select asp-for="@Model.UpdateEmployee.DepartmentId">
                        
                        @{
                            foreach (var dep in Model.Lookupsd)
                            {
                                <option value="@dep.Id">@dep.Name</option>
                            }
                        }
                    </select>

                </div>
                <div class="Item">
                    <label>Language</label>
                    <select asp-for="@Model.UpdateEmployee.ProgrammingLanguageId">
                        @{
                            foreach (var dep in Model.Lookupp)
                            {
                                <option value="@dep.Id">@dep.Name</option>
                            }
                        }
                    </select>

                </div>

                <div class="Item">
                    <label>Gender</label>
                    <select asp-for="@Model.UpdateEmployee.Gender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                
            </div>
    </div>
        <div class="Blocked">
            <div class="ItemBlock BlockButt">

                <div>
                    <button class="createbtn"><input type="submit" /></button>

                </div>
            </div>
        </div>
</form>
<a asp-action="GetAll"><button class="cancelbth">Cancel</button></a>

<style>

    .formItems {
        background-color: #242424;
        border: none;
        border-radius: 30px;
        width: 45%;
        min-height: 30%;
        margin: 50px auto;
        font-family: TTtravelsRegular;
        
    }

    .leftSide{
        margin: 40%, auto;
    }

        .formItems h2 {
            color: white;
            margin-left: 30px;
            padding-top: 20px;
        }

    .Inlines{
        display:flex;
        flex-direction: row;
        margin-left: 20%;
        padding-top: 10%;
        gap: 20px;
        color: white;
    }
    

    .Item label, input {
        display: block;
    }

    .Item {
        margin-bottom: 40px;
    }

        .Item:last-child {
            width: 190px;
        }

    input {
        border: none;
        border-bottom: 1px solid white;
        background-color: transparent;
        color: inherit;
        outline: none;
        text-decoration: none;
    }

    .ItemBlock input, select {
        display: block;
        resize: vertical;
    }

    .ItemBlock {
        margin-bottom: 40px;
    }

    textarea {
        background-color: #5F5F5F;
        border-radius: 6px;
        width: 637px;
        height: 223px;
    }

    select {
        background-color: #5F5F5F;
        color: black;
        height: 30px;
        border-radius: 6px;
    }

    .BlockButt {
    }

        .BlockButt button {
            padding: 10px 30px;
            border-radius: 20px;
            font-size: 13px;
            border: none;
            color: white;
        }

    .createbtn {
        background-color: #9F2525;
        margin-left: 40%;
    }

    .cancelbth {
        padding: 10px 30px;
        border-radius: 20px;
        font-size: 13px;
        border: none;
        color: white;
        margin: 20px;
        margin-left: 45%;
        background-color: #5F5F5F;
    }

        .cancelbth:hover {
            box-shadow: 0 0 20px #5F5F5F;
        }

    .createbtn:hover {
        box-shadow: 0 0 20px #9F2525;
    }
</style>

